<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Férias</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 img-topo">
                <img src="../static/img/ferias.jpg">
            </div>
        </div>

        <div class="container">
            <h5 class="mt-5">Saiba quem está de férias e por quanto tempo estará ausente das atividades laborais.</h5>
        </div>

        <div class="container">
            <!-- Campo de busca -->
            <div class="row sticky-container">
                <div class="col-md-12 mt-3">
                    <input type="text" id="searchInput" class="form-control search" placeholder="Buscar Funcionário" onkeyup="filterBySearch()">
                </div>
            </div>

            <!-- Filtros -->
            <div class="row mb-4 sticky-container">
                <div class="col-md-3 div-filtered">
                    <div class="card card-filter" data-company="Belém" onclick="filterByCompany('Belém', this)">
                        <div class="card-body card-title-filter">
                            <h5 class="card-title">Belém</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 div-filtered">
                    <div class="card card-filter" data-company="Limeira" onclick="filterByCompany('Limeira', this)">
                        <div class="card-body card-title-filter">
                            <h5 class="card-title">Limeira</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 div-filtered">
                    <div class="card card-filter" data-company="São Paulo" onclick="filterByCompany('São Paulo', this)">
                        <div class="card-body card-title-filter">
                            <h5 class="card-title">São Paulo</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 div-filtered">
                    <div class="card card-filter" data-company="Tailandia" onclick="filterByCompany('Tailandia', this)">
                        <div class="card-body card-title-filter">
                            <h5 class="card-title">Tailandia</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="employee-cards">
                {% for result in results %}
                <div class="col-md-3 employee-card" data-company="{{ result['Empresa'] }}">
                    <div class="card card-fun">
                        <div class="card-header d-flex align-items-center">
                            <img src="{{ result['Fotografia'] }}" alt="Foto do Funcionário" class="card-img mr-2" style="width: 80px; height: 80px;">
                            <h5 class="card-title card-title-custom" style="max-width: 150px;">{{ result['Nome Funcionario'] }}</h5>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <div class="row">
                                    <div class="col-sm">
                                        <p class="card-text" style="margin-top: -15px;"><strong>Departamento:</strong></p>
                                        <p class="card-text-info">{{ result['Departamento'] | truncate(15, True, '...') }}</p>
                                    </div>
                                    <div class="col-sm">
                                        <p class="card-text" style="margin-top: -15px;"><strong>Empresa:</strong></p>
                                        <p class="card-text-info">{{ result['Empresa'] }}</p>
                                    </div>
                                </div>
                                <p class="card-text" style="margin-top: -10px;"><strong>Cargo:</strong></p>
                                <p class="card-text-info">{{ result['Cargo'] | truncate(20, True, '...')}}</p>
                                <div class="row">
                                    <div class="col-sm">
                                        <p class="card-text" style="margin-top: -10px;"><strong>Saída</strong></p>
                                        <p class="card-text-info">{{ result['InicioFerias'].strftime('%d/%m/%Y') }}</p>
                                    </div>
                                    <div class="col-sm">
                                        <p class="card-text text-mensagem" style="margin-top: -10px;">Retorno</p>
                                        <p class="card-text-info">{{ result['FimFerias'].strftime('%d/%m/%Y') }}</p>
                                    </div>
                                </div>
                                <br>
                            </blockquote>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <script>
        let currentFilter = null;

        function filterByCompany(company, selectedCard) {
            const cards = document.querySelectorAll('.employee-card');

            if (currentFilter === company) {
                showAllEmployees();
                currentFilter = null;
                const filterCards = document.querySelectorAll('.card-filter');
                filterCards.forEach(card => {
                    card.classList.remove('selected');
                });
            } else {
                cards.forEach(card => {
                    const cardCompany = card.getAttribute('data-company');
                    card.style.display = (cardCompany === company) ? 'block' : 'none';
                });

                const filterCards = document.querySelectorAll('.card-filter');
                filterCards.forEach(card => {
                    card.classList.remove('selected');
                });

                selectedCard.classList.add('selected');
                currentFilter = company;
            }
        }

        function showAllEmployees() {
            const cards = document.querySelectorAll('.employee-card');
            cards.forEach(card => {
                card.style.display = 'block';
            });
            currentFilter = null;
        }

        function filterBySearch() {
            const input = document.getElementById('searchInput').value.toLowerCase();
            const cards = document.querySelectorAll('.employee-card');

            cards.forEach(card => {
                const name = card.querySelector('.card-title-custom').innerText.toLowerCase();
                card.style.display = name.includes(input) ? 'block' : 'none';
            });
        }
    </script>

    <div class="footer">
        <div class="row">
            <div class="col-md-6">
                <img class="logo-footer mt-2 mb-2 ml-4" src="../static/img/logo-footer.png">
            </div>

            <div class="col-md-6">
                <p style="color: #fff; font-weight: bold;" class="text-right mt-2 mr-5">© 2024 Todos os direitos reservados.</p>
            </div>

        </div>
    </div>
</body>

</html>
